/* 
/* Project Braceana: custom CSS for extending a R/shiny publishing platform. 
*/
h1, h2, h3, h4 {
  font-family: 'Lato light', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}

h2, h3, h4 {
  text-align: left;
}

.brand {
  font-family: 'Lato light', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

span.meta {
  font-style: italic;
  font-size: 80%;
  color: #AAA;
  line-height: 2.0;
}

p {
  font-family: Lato, 'Helvetica Neue', sans-serif;
}

.footertext {
  font-size: 80%;
  color: #AAA;
  text-align: center;
}

.navbar-inner {
  background-color: #5e5293;
  background-image: none;
}

.navbar .nav > li {
  background-color: #5e5293;
  background-image: none;
}

.navbar .nav > li > a, .navbar .nav > li > a:hover {
  text-shadow: 0 0 0 #fff;
  color: white;
  font-family: 'Lato light', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
  background-color: #867DB0;
  background-image: none;
  color: white;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.navbar .brand {
  text-shadow: 0 0 0 #fff;
  color: white;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.125) inset;
}

body {
  font-face: Lato, 'Helvetica neue', sans-serif;
  font-weight: 400;
}